%h1 Listing clients

%table
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Preferred name
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.first_name
        %td= client.middle_name
        %td= client.last_name
        %td= client.preferred_name
        %td= link_to 'Show', client
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Client', new_client_path
