= simple_form_for(@contact) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :first_name
    = f.input :last_name
    = f.input :middle_name
    = f.input :preferred_name
    = f.input :email
    = f.input :primary_phone
    = f.input :secondary_phone
    = f.input :text_messages
    = f.input :street_address
    = f.input :city
    = f.input :state
    = f.input :zip_code

  .form-actions
    = f.button :submit
