.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          = link_to new_contact_path do
            %button.btn.btn-success{:type => "button"}
              %i.fa.fa-plus &nbsp;New
        .ibox-content
          %table.contactList.table.table-outline.table-striped
            %thead
              %tr
                %th Full Name
                %th Email
                %th Primary phone
                %th Text messages
                %th
                %th
                %th

            %tbody
              - @contacts.each do |contact|
                %tr
                  %td
                    = contact.preferred_full_name
                  %td= contact.email
                  %td= contact.primary_phone
                  %td= boolean_helper(contact.text_messages)
                  %td= link_to 'Show', contact
                  %td= link_to 'Edit', edit_contact_path(contact)
                  %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }

          %br
