=render "contacts/client_header"
.row.animated.fadeInBottom
  .col-sm-12
    .ibox
      .ibox-title
        %h3.text-center
          Events
      .ibox-content{:style => "border-radius: 4px"}
        %table.table.table-hover
          %tbody
            - @attendances.each do |attendance|
              %tr
                %td.project-status
                  =attendance.event.date
                %td
                  = link_to "#{attendance.event.present? ? attendance.event.title.truncate(40, separator: ' ') : na}", event_path(attendance.event)
                  %br/
                  -# #{project.division.program.try(:code) || na}
                  -# #{project.division.try(:code) || na}
                  -# #{project.division.try(:location) || na}
                  %br/
                  %small
                    -# - unless project.start_date.blank?
                    -#   #{project.try(:start_date).strftime("%m/%d/%y") || na}
                    -# to
                    -# - if project.end_date.blank?
                    -#   Unavailable
                    -# - else
                    -#   #{project.try(:end_date).strftime("%m/%d/%y") || na}
                %td.project-completion
                  %small
                    -# Completion with: #{project.progress_bar}%
                  .progress.progress-mini
                    -# .progress-bar{:style => "width: #{project.progress_bar}%;"}
                  %small
                    -# Weeks Remaining: #{project.weeks_remaining}
                %td
                  %br/
                  %small
                    Partner:
                    %a.text-navy.fa.fa-address-card{:href => "#"}
                      Jane Goodall
                  %br/
                  %small
                    Crew Leader:
                    %a.text-navy.fa.fa-address-card{:href => "#"}
                      Peter Pan
                %td.project-actions
                  = link_to event_path(attendance.event), class: "btn btn-white btn-sm" do
                    %i.fa.fa-folder
                      View
  .cleafix
%br

%p#notice= notice
