!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CUDatabase
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# Wrapper
    #wrapper
      -# Navigation
      = render 'layouts/navigation'
      -# Page wraper
      #page-wrapper.gray-bg
        -# Page wrapper
        = render 'layouts/topnavbar'
        -# Main view
        #notifications
          = render '/layouts/messages'
        = yield
        -# Footer
        = render 'layouts/footer'
        = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
        = content_for?(:footer_scripts) ? yield(:footer_scripts) : ""
        #modal-holder
          = render "/layouts/modal"
